[Unit]
Description=discordbot

[Service]
ExecStart=/usr/bin/python3 -m discord-bot -t tokentext
User=discordbot
Group=discordbot
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
